
<div class="col-md-4">
                <div class="list-group">
                    <a href="/user">
                        <button type="button" class="list-group-item col-md-12 ">اطلاعات حساب کاربری</button>
                    </a>
                    <a href="/user/edit-profile">
                        <button type="button" class="list-group-item col-md-12">ویرایش اطلاعات</button>
                    </a>
                    <a href="/logout">
                        <button type="button" class="list-group-item col-md-12">خروج</button>
                    </a>
                </div>
            </div>